body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #000;

    color: white;
    font-family: Arial, sans-serif;
}
canvas{
    border: 1px solid #fff;
}

.screen {
    position: fixed; /* Mejor que absolute para centrar en toda la pantalla */
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 800px;
    height: 400px;
    background: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 10;
    border: 1px solid #fff;
}

button {
    padding: 10px 20px;
    font-size: 18px;
    margin-top: 20px;
    cursor: pointer;
}